/problema1/problemaUno/nbproject/private/
/problema1/problemaUno/build/
/problema1/problemaDos/nbproject/private/
/problema1/problemaDos/build/
/problema2/problemaDos/build/
/problema3/problemaTres/nbproject/private/
/problema3/problemaTres/build/
/problema4/problemaCuatro/nbproject/private/
/problema4/problemaCuatro/build/
/problema2/problemaDos/nbproject/private/
